---
import "@fortawesome/fontawesome-svg-core/styles.css";
import "@fontsource/bangers/400.css";
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/josefin-sans/100.css";
import "@fontsource/josefin-sans/300.css";
import "@fontsource/josefin-sans/400.css";
import "@fontsource/josefin-sans/600.css";
import "@fontsource/josefin-sans/700.css";
import BreadCrumbs from "@components/BreadCrumbs.vue";
import { generate as generateStructuredData } from "@src/structuredData";
import { generate as generateBreadcrumbs } from "@src/breadcrumbs";
import { Schema } from "astro-seo-schema";
import { Seo } from "astro-seo-meta";
import { localizePath, detectLocaleFromPath } from "astro-i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import menu from "@src/menu";
import InitHeader from "@components/InitHeader.vue";
import BaseFooter from "@components/BaseFooter.vue";
import MainMenu from "@components/MainMenu.vue";
import FloatingWhatsapp from "@components/FloatingWhatsapp.vue";
import WhatsappContact from "@components/WhatsappContact.vue";

export interface Props {
  title: string;
  description: string;
}

const menus = menu.map((item) => ({
  text: item.text,
  href: localizePath(item.href),
}));

const { title, description } = Astro.props;

const structuredData = generateStructuredData(
  generateBreadcrumbs(new URL(Astro.url))
);

const url: URL = Astro.url;

// 1. implement breadcrumbs for articles DONE
// 2. implement en i18n by hl=en params or astro-i18n
// 3. add astrojs-service-worker for fast page loading
// 4. retrieve seo html title, description, meta from storyblok
// 5. language switcher & dark toggle below apps in main menu

const inheritLocale = detectLocaleFromPath(url.pathname);

const localizedPaths = {
  en: localizePath(url.pathname, "en"),
  id: localizePath(url.pathname, "id"),
};

const isHomepage =
  localizedPaths["id"] === "/" || localizedPaths["en"] === "/en" ? true : false;
---

<!DOCTYPE html>
<html lang={inheritLocale}>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="prefetch" href="/loading-indicator.svg" />
  <link rel="preconnect" href="https://a.storyblok.com/" />
  <link rel="dns-prefetch" href="https://a.storyblok.com/" />
  <HeadHrefLangs />
  <Schema item={structuredData} />
  <Seo title={title} description={description} />

  <body class="bg-body bg-gradient">
    <InitHeader
      client:only="vue"
      inheritLocale={inheritLocale}
      menus={menus}
      url={url}
    />
    <main class="container mx-auto min-h-screen lg:max-w-6xl">
      {
        !isHomepage && (
          <BreadCrumbs
            client:only="vue"
            pathname={Astro.url.pathname}
            reqPathname={new URL(Astro.request.url).pathname}
            inheritLocale={inheritLocale}
            menus={menus}
          />
        )
      }
      <slot />
    </main>
    <WhatsappContact client:only="vue" />
    <BaseFooter client:only="vue" menus={menus} />
    <MainMenu
      client:only="vue"
      localizedPaths={localizedPaths}
      inheritLocale={inheritLocale}
      url={url}
      menus={menus}
    />
    <FloatingWhatsapp client:only="vue" />

    <style lang="scss" is:global>
      ::-moz-selection {
        /* Code for Firefox */
        color: #fefefe;
        background: hsl(var(--p));
      }

      ::selection {
        color: #fefefe;
        background: hsl(var(--p));
      }

      ::-webkit-scrollbar {
        width: 9px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
      }

      // :root,
      // [data-theme] {
      //   background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
      //   color: hsla(var(--bc) / var(--tw-text-opacity, 1));
      // }

      // html[data-theme="light"] body {
      //   background-image: linear-gradient(-180deg, $full-white 0%, #f1f7ff 100%);
      // }

      // html[data-theme="dark"] body,
      // html[data-theme="auto"] body {
      //   background-image: linear-gradient(-180deg, hsl(var(--b1)), hsl(var(--n)));
      // }

      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a {
        font-family: "Josefin Sans", serif;
      }

      .josefin-sans {
        font-family: "Josefin Sans", serif;
      }

      .bangers {
        font-family: "Bangers", sans-serif;
        @apply tracking-wide;
      }

      .btn-shadow {
        box-shadow: rgba(132, 59, 206, 0.15) 0px 4px 24px;
      }
    </style>
  </body>
</html>
